STARTUP_SYNC_ENABLED=false
FRONTEND_PROXY_ENABLED=false
FRONTEND_REDIRECT_ENABLED=true
NEXT_AUTOSTART=true
NEXT_PORT=3000
NEXT_CMD=npm run dev -- --port {port}
UVICORN_RELOAD=true

FRONTEND_MODE=dev
BACKEND_RELOAD=1
FRONTEND_PORT=3000
